# Análise de Dados com SQL

In [1]:
df_1 = _dntk.execute_sql(
  'SELECT * FROM StudentsPerformance.csv',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_1

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
df_2 = _dntk.execute_sql(
  '-- Analisa a distribuição das notas de matemática.\n-- Cria faixas manuais (0–40, 41–70, 71–100) e conta quantos alunos caem em cada faixa.\n\nSELECT \n    CASE\n        WHEN "math score" BETWEEN 0 AND 40 THEN \'0–40\'\n        WHEN "math score" BETWEEN 41 AND 70 THEN \'41–70\'\n        WHEN "math score" BETWEEN 71 AND 100 THEN \'71–100\'\n    END AS faixa_matematica,\n    COUNT(*) AS total_alunos\nFROM "StudentsPerformance.csv"\nGROUP BY faixa_matematica\nORDER BY faixa_matematica;\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_2

  faixa_matematica  total_alunos
0             0–40            50
1            41–70           559
2           71–100           391

In [7]:
df_3 = _dntk.execute_sql(
  '-- Agrega as notas de leitura e escrita por faixa_matematica.\n-- Mostra como o desempenho em matemática se relaciona com outras disciplinas.\n\nSELECT \n    CASE\n        WHEN "math score" BETWEEN 0 AND 40 THEN \'0–40\'\n        WHEN "math score" BETWEEN 41 AND 70 THEN \'41–70\'\n        WHEN "math score" BETWEEN 71 AND 100 THEN \'71–100\'\n    END AS faixa_matematica,\n    AVG("reading score") AS media_leitura,\n    AVG("writing score") AS media_escrita\nFROM "StudentsPerformance.csv"\nGROUP BY faixa_matematica\nORDER BY faixa_matematica;\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_3

  faixa_matematica  media_leitura  media_escrita
0             0–40      43.440000      40.120000
1            41–70      63.409660      62.434705
2           71–100      80.693095      79.659847

In [10]:
df_4 = _dntk.execute_sql(
  '-- Cria coluna faixa_leitura para classificar o desempenho em leitura.\n\nSELECT \n    CASE\n        WHEN "reading score" BETWEEN 0 AND 50 THEN \'0–50\'\n        WHEN "reading score" BETWEEN 51 AND 80 THEN \'51–80\'\n        WHEN "reading score" BETWEEN 81 AND 100 THEN \'81–100\'\n    END AS faixa_leitura,\n    COUNT(*) AS total_alunos\nFROM "StudentsPerformance.csv"\nGROUP BY faixa_leitura\nORDER BY faixa_leitura;\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_4

  faixa_leitura  total_alunos
0          0–50            97
1         51–80           668
2        81–100           235

In [13]:
df_5 = _dntk.execute_sql(
  '-- Distribui os alunos por gênero e faixa de leitura.\n-- Permite analisar diferenças de desempenho em leitura entre meninos e meninas.\n\nSELECT \n    gender,\n    CASE\n        WHEN "reading score" BETWEEN 0 AND 50 THEN \'0–50\'\n        WHEN "reading score" BETWEEN 51 AND 80 THEN \'51–80\'\n        WHEN "reading score" BETWEEN 81 AND 100 THEN \'81–100\'\n    END AS faixa_leitura,\n    COUNT(*) AS total_alunos\nFROM "StudentsPerformance.csv"\nGROUP BY gender, faixa_leitura\nORDER BY gender, faixa_leitura;',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_5

   gender faixa_leitura  total_alunos
0  female          0–50            32
1  female         51–80           327
2  female        81–100           159
3    male          0–50            65
4    male         51–80           341
5    male        81–100            76

In [16]:
df_6 = _dntk.execute_sql(
  '-- Verifica a diversidade de categorias em duas colunas demográficas.\n-- COUNT(DISTINCT ...) retorna o número de níveis únicos.\n\nSELECT\n    COUNT(DISTINCT "parental level of education") AS niveis_escolaridade_pais,\n    COUNT(DISTINCT "race/ethnicity") AS niveis_etnia\nFROM "StudentsPerformance.csv";\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_6

   niveis_escolaridade_pais  niveis_etnia
0                         6             5

In [22]:
df_7 = _dntk.execute_sql(
  '-- Cria acoluna faixa_escrita para classificar o desempenho em escrita.\n-- Distribui os alunos em três intervalos de pontuação.\n\nSELECT \n    CASE\n        WHEN "writing score" BETWEEN 0 AND 50 THEN \'0–50\'\n        WHEN "writing score" BETWEEN 51 AND 80 THEN \'51–80\'\n        WHEN "writing score" BETWEEN 81 AND 100 THEN \'81–100\'\n    END AS faixa_escrita,\n    COUNT(*) AS total_alunos\nFROM "StudentsPerformance.csv"\nGROUP BY faixa_escrita\nORDER BY faixa_escrita;\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_7

  faixa_escrita  total_alunos
0          0–50           124
1         51–80           668
2        81–100           208

In [25]:
df_8 = _dntk.execute_sql(
  '-- Analisa o impacto do curso de preparação.\n-- Para cada grupo (completed / none), calcula:\n-- - Média das três notas\n-- - Amplitude (máximo - mínimo) das três notas\n\nSELECT\n    "test preparation course",\n    AVG("math score") AS media_matematica,\n    MAX("math score") - MIN("math score") AS amplitude_matematica,\n    AVG("reading score") AS media_leitura,\n    MAX("reading score") - MIN("reading score") AS amplitude_leitura,\n    AVG("writing score") AS media_escrita,\n    MAX("writing score") - MIN("writing score") AS amplitude_escrita\nFROM "StudentsPerformance.csv"\nGROUP BY "test preparation course"\nORDER BY "test preparation course";\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='dataframe'
)
df_8

,test preparation course,media_matematica,amplitude_matematica,media_leitura,amplitude_leitura,media_escrita,amplitude_escrita
0,completed,69.695531,77,73.893855,63,74.418994,64
1,none,64.077882,100,66.534268,83,64.504673,90

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=1d66470e-937e-4aac-9f14-1f15a78e4843' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>